/*
.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


.open-sans-<uniquifier> {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*/

/* set our defaults and our constants. need to use ROOT selector */

* {
    --base: #25283d;
    --borderColor:  #07beb8;
    --cardColors: #efd9ce;
    --accentColor: #8f3985;
    --extraColor: #98dfea;
    font-family: "Open Sans", sans-serif;
}

/* selecting just the body elements */

body {
    background-color: var(--base);
    background-image: url(./assets/backcube2.jpeg);
    background-repeat: repeat;
    background-position: top;
    background-attachment: scroll;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 0px;
    padding-bottom: 0px;
}

header {
    padding-top: 16px;
    padding-bottom: 16px;
    margin-bottom: 32px;
    font-family: "Open Sans", sans-serif;
    color: var(--accentColor);
    border-radius: 8px;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 3px 2px 0px var(--extraColor);
    background-color: var(--base);
    opacity: .80;
}


/*PSEUDO-ELEMENTS reference: https://www.w3schools.com/css/css_pseudo_elements.asp  */
header::first-letter{
    font-size: 56px;
    font-family: "Dancing Script", cursive;

}

/*style the title card/hero text and select by class*/

.title{
    font-family: "Dancing Script", cursive;
        font-weight: 600;
        font-style: normal;
    font-size: 72px;
    text-align: center;
    margin-bottom: 32px;
    line-height: 84px;
    text-shadow: 3px 2px 0px var(--extraColor);

}

.title::first-letter{
    font-size: 84px;
}

/* Text-shadow */

h2{
    font-family: "Open Sans", sans-serif;
        font-weight: 600;
        font-style: normal;
        font-size: 36px;
        margin-bottom: 32px;
        text-transform: uppercase;
        text-align: center;
        color: var(--accentColor);
        text-shadow: 3px 2px 0px var(--extraColor);
}


.cards div {

    background-color: var(--cardColors);
    padding: 16px;
    border: 1px solid var(--borderColor);
    border-radius: 8px;
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;

    /* short hand for centering items is margin: 0 auto
    margin-top: 0;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto; */

}

.cards div:hover{

    box-shadow: 8px 8px var(--accentColor);
}

.cards div > img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 2px 2px rgba(0,0,0,.4);
}

h3 {
    font-family: "Dancing Script", cursive;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    text-align: center;
    line-height: 126.637%;
    /* 40.524px */
    letter-spacing: 3.52px;
    text-transform: capitalize;
    text-shadow: 3px 2px 0px var(--extraColor);
}

.education > ul {
    background-color: var(--cardColors);
    font-size: 24px;
    border-radius: 8px;
}

.education > ul li {
    padding: 16px;
}

.year {
    color: var(--accentColor);
}

.work > ul {
    background-color: var(--cardColors);
    font-size: 24px;
    border-radius: 8px;
}

.work > ul li {
    padding: 16px;
}


